body {
    font-size: 18px;
    margin: 1em;
    margin-bottom: 150px;
}

button {
    width: 150px;
    margin: 0.5em;
    background-color: lightblue;
}

img {
    display: block;
    margin-top: -2em;
    margin-bottom: -1em;
}
