body {
    font-size: 18px;
    margin: 1em;
    margin-bottom: 150px;
}

button {
    width: 150px;
    margin: 0.5em;
    background-color: lightblue;
}

#square {
    width: 100px;
    height: 100px;
    background: red;
    transition-property: width, height, color;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

#square:hover {
    width: 300px;
    height: 400px;
    background-color: green;
}

#circle {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    background: blue;
}

.circle1:hover {
    -webkit-transform: translate(50px, 0);
    transform: translate(50px, 0);
}

.circle2:hover {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.circle3:hover {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(1, 2);
}

.circle4:hover {
    -webkit-transform: skew(20deg, 30deg);
    transform: skew(20deg, 30deg);
}

@-webkit-keyframes awesome {
    0% {
        left: 0;
        right: 0;
    }
}

@keyframes awesome {
    0% {
        left: 0;
        bottom: 0;
    }
    25% {
        left: 50px;
        bottom: 40px;
    }
    50% {
        left: 100px;
        bottom: 0px;
    }
    75% {
        left: 150px;
        bottom: 40px;
    }
    100% {
        left: 200px;
        bottom: 0px;
    }
}

#animate {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: green;
    position: relative;
    -webkit-animation-name: awesome;
    animation-name: awesome;
    -webkit-animation-duration: 5s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
