body {
    font-size: 18px;
    margin: 1em;
    margin-bottom: 150px;
}

button {
    width: 150px;
    margin: 0.5em;
    background-color: lightblue;
}

#trans {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.translate {
    width: 300px;
}

#ani {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
}

.animate {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}
